<manifest 
  xmlns:android="http://schemas.android.com/apk/res/android"   
  xmlns:tools="http://schemas.android.com/tools"
  package="com.thomastristanfinalprojectandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


  <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">

    <activity
    android:name=".SplashActivity"
    android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".MainActivity"
      android:theme="@style/SplashTheme"
      android:label="@string/app_name"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
      android:windowSoftInputMode="adjustResize"
      android:exported="true" >
    </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

    <!--Google Maps-->
      <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyDz4-FZAKBJocNVyZpLwhmwARjPPyu_XeI"/>

    <!--Push Notifications Start-->
      <meta-data  
        android:name="com.dieam.reactnativepushnotification.notification_channel_name"
        android:value="Activity Notifications"/>
      <meta-data  
        android:name="com.dieam.reactnativepushnotification.notification_channel_description"
        android:value="Notify when activity is saved."/>
      <meta-data  
        android:name="com.dieam.reactnativepushnotification.notification_color"
        android:resource="@android:color/white"/>
      <service
              android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationListenerServiceGcm"
              android:exported="false" >
        <intent-filter>
          <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        </intent-filter>
      </service>
      <service
        android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationListenerService"
        android:exported="false" >
        <intent-filter>
          <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
      </service>
    <!--Push Notifications End-->

    <!--Social Sharing-->
    <provider
          android:name="android.support.v4.content.FileProvider"
          android:authorities="com.thomastristanfinalprojectandroid.provider"
          android:grantUriPermissions="true"
          android:exported="false">
        <meta-data
          tools:replace="android:resource"
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/filepaths" />
      </provider>
    
    </application>

</manifest>
